# prometheus.config
# Konfigurasi tambahan Prometheus untuk monitoring TF Serving
# Username: rfahrur6045

# ── Storage ───────────────────────────────────────────────────────
storage:
  tsdb:
    path: /prometheus
    retention.time: 15d
    retention.size: 512MB

# ── Web ───────────────────────────────────────────────────────────
web:
  listen-address: "0.0.0.0:9090"
  enable-lifecycle: true
  console:
    libraries: /etc/prometheus/console_libraries
    templates: /etc/prometheus/consoles
